
.border {
  border: 1px solid black;
}

.width-600 {
  max-width: 600px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.p-20 {
  padding: 30px;
}

.mr-10 {
  margin-right: 15px;
}

.mb-10 {
  margin-bottom: 15px;
}

.pt-10 {
  padding-top: 15px;
}

.text-transparent {
  color: transparent;
}

[disabled="true"] {
  pointer-events: none;
}